<%- include('../partials/user-headder') %>
<main class="main">
  <div class="page-header breadcrumb-wrap">
    <div class="container">
      <div class="breadcrumb">
        <a href="/" rel="nofollow">Home</a>
        <span></span> Shop
        <span></span> Order Placed
      </div>
    </div>
  </div>
  <section class="mt-75 mb-75">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto text-center">
          <!-- <h2 class="mb-40">Your order has been recieved!</h2> -->
          <h1 class=" " style="font-size: 5em;">🎉</h1>
          <h3 class="mb-5 mt-2">Thank you for your order!</h3>
          <p>You can view more details about the order in the my account page</p>
          <div class="btn-wrap mt-40">
            
            <a href="/" class="btn"><i class="fi-rs-shopping-bag mr-10"></i>Continue Shopping</a>

            <a href="/my-profile/view-orders" class="btn btn-outline btn-lg btn-brand-outline font-weight-bold text-brand bg-white text-hover-white border-radius-5 btn-shadow-brand hover-up ms-2"><i class="fi-rs-user mr-10"></i>See all orders</a>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<%- include('../partials/user-footer') %>