<link rel="stylesheet" href="sweetalert2.min.css">
<!-- Main CSS File -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
<!-- Bootstrap CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


<!-- JavaScript Bundle with Popper -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>




<body>



  <!DOCTYPE html>
  <html class="no-js" lang="en">


  <!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/index-4.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:26:07 GMT -->

  <head>




    <!-- Main CSS File -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link rel="stylesheet" href="sweetalert2.min.css">

    <!-- JavaScript Bundle with Popper -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>



    <meta charset="utf-8">
    <title>DotPC</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/assets/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link rel="stylesheet" href="/assets/css/main.css">
  </head>

  <body>
    <!-- Quick view -->

    <header class="header-area header-style-4 header-height-2">
      <div class="header-top header-top-ptb-1 d-none d-lg-block">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-xl-3 col-lg-4">
              <div class="header-info">
                <ul>
                  <li><i class="fi-rs-smartphone"></i> <a href="/">(+01) - 2345 - 6789</a></li>
                  <li><i class="fi-rs-marker"></i><a href="/">Our location</a></li>
                </ul>
              </div>
            </div>

            <div class="col-xl-3 col-lg-4" style="margin-right: 0px;margin-left:auto;">
              <div class="header-info header-info-right">
                <ul>
                 
            
                  <% if (locals.user) { %>

                  <li><i class="fi-rs-user"  ></i><a href="/profile">Hello <%= user.userName %> </a></li>
                  
                  <%} else{ %>
                    <li><i class="fi-rs-user"></i><a href="/login">LOGIN </a></li>
                    <% } %>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="header-middle header-middle-ptb-1 d-none d-lg-block">
        <div class="container">
            <div class="header-wrap">
                <div class="logo logo-width-1">
                  <a href="/"><img src="/images/external-graphics-card-computer-hardware-wanicon-two-tone-wanicon.png" alt="logo"></a>
                </div>
                          </div>
        </div>
    </div>  
    <div class="header-bottom header-bottom-bg-color sticky-bar">
            <div class="container">
                <div class="header-wrap header-space-between position-relative">
                    <div class="logo logo-width-1 d-block d-lg-none">
                        <a href="/"><img src="/images/external-graphics-card-computer-hardware-wanicon-two-tone-wanicon.png" alt="logo"></a>
                    </div>
                    <div class="header-nav d-none d-lg-flex">
                     
                        <div class="main-menu main-menu-padding-1 main-menu-lh-2 d-none d-lg-block">
                            <nav>
                                <ul>
                                    <li><a class="active" href="/">Home <i class="fi-rs-angle-down"></i></a>
                                        
                                    </li>
                                    
                                    <li><a href="/shop">Shop <i class="fi-rs-angle-down"></i></a>
                                        
                                    </li>
                                    
                                    
                                    <li>
                                        <a href="/">Contact</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="hotline d-none d-lg-block">
                        <p><i class="fi-rs-headset"></i><span>Hotline</span> 1900 - 888 </p>
                    </div>
                    
                    <div class="header-action-right d-block d-lg-none">
                        <div class="header-action-2">
                            <div class="header-action-icon-2">
                                <a href="/my-wishlist">
                                    <img alt="Evara" src="/assets/imgs/theme/icons/icon-heart.svg">
                                    <!-- <span class="pro-count white">4</span> -->
                                </a>
                            </div>
                            <div class="header-action-icon-2">
                                <a class="mini-cart-icon" href="/cart">
                                    <img alt="Evara" src="/assets/imgs/theme/icons/icon-cart.svg">
                                    <!-- <span class="pro-count white">2</span> -->
                                </a>
                               
                            </div>
                            <div class="header-action-icon-2 d-block d-lg-none">
                              
                             
                                
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      
    </header>
<main class="main">
  <div class="page-header breadcrumb-wrap">
      <div class="container">
          <div class="breadcrumb">
              <a href="/" rel="nofollow">Home</a>
           
              <span></span> Login 
          </div>
      </div>
  </div>
  <section class="pt-150 pb-150">
      <div class="container">
          <div class="row">
              <div class="col-lg-12 ">   
                  <div class="row">
                      <div class="col-lg-12 col-md-12 col-sm-12" >
                          <div class="login_wrap widget-taber-content p-30 background-white border-radius-10 col-8 mx-auto">
                              <div class="padding_eight_all bg-white">
                                  <div class="heading_s1">
                                      <h3 class="mb-30">Login</h3>
                                      <% if (passwordNotMatch) { %>
                                        <span style="color: red;">Password Not Match </span>
                                        <% } %>

                                        <%if (userBlocked) { %>
                                            <span style="color: red;">Your account has been Blocked</span>
                                            <% } %>
                                        <%if (noUser) { %>
                                            <span style="color: red;">No user found on this email</span>
                                    
                                      <% } %>
                                      <span></span>
                                  </div>
                                  <form method="post" action="/login">
                                      <div class="form-group">
                                          <input type="text" required="" name="useremail"  placeholder="Your Email">
                                      </div>
                                      <div class="form-group">
                                          <input required="" type="password" name="password"  placeholder="Password">
                                      </div>
                                      <div class="login_footer form-group">
                                          <div class="chek-form">
                                              
                                          
                                      <div class="form-group">
                                          <button type="submit" class="btn btn-fill-out btn-block hover-up" style="min-width:100px;">Log in</button>
                                          <a href="/otp-login"  class="btn btn-outline btn-lg btn-brand-outline font-weight-bold text-brand bg-white text-hover-white border-radius-5 btn-shadow-brand hover-up"  name="otp">OTP Login</a>
                                      </div>

                                    </div>
                                    <span> Don't Have An Account ?</span><a class="text-muted" href="/signup">Register</a>
                                 </div>
                                  </form>
                              </div>
                          </div>
                      </div>
                     

                  </div>
              </div>
          </div>
      </div>
  </section>
</main>
  <script src="javascripts/validation.js"></script>
  <%- include('../partials/user-footer') %>